@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body.dark {
    --color-text-main: #DCDCDC;
    --color-text-secondary: #A6A6A6;
    --color-bg-body: #0D0D0D;
    --color-bg-card: #1A1A1A;
    --color-border-card: #303030;
    --color-shadow: #2525258c;
    --color-divider: #ffffff21;
    --color-button-bg: #FEFEFE;
    --color-button-text: #0D0D0D;
    --color-button-border: #C7C7C7;
    --color-card-inside: #262626;
}

body {
    --color-text-main: #010101;
    --color-text-secondary: #8A8A8A;
    --color-bg-body: #E5E5E5;
    --color-bg-card: #F2F2F2;
    --color-border-card: #CFCFCF;
    --color-shadow: #D1D1D1;
    --color-divider: #00000015;
    --color-button-bg: #000000;
    --color-button-text: #F8F8F8;
    --color-button-border: #181818;
    --color-card-inside: #FFFFFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    transition: all 0.2s ease-in-out;
    font-family: "Roboto", sans-serif;
}

h3,
p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    color: var(--color-text-main);
}

p {
    font-size: 14px;
    color: var(--color-text-secondary);
}

body {
    margin-top: 50px;
    background-color: var(--color-bg-body);
}

.card {
    padding: 30px;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border-card);
    box-shadow: 1px 1px 5px var(--color-shadow);
    border-radius: 3cap;
}

.header {
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.header-meta {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.options-card {
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-divider);
    margin: 20px 0;
    border: none;
}

.ho-svg {
    color: var(--color-text-secondary);
}

.ho-title {
    font-size: 16px;
}

.header-options {
    width: 100%;
}

.header-option {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.header-option.large {
    align-items: flex-start;
    height: 90px;
    flex-direction: column;
}

.ho-infos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.ho-button.large {
    width: 100%;
    height: 50px;
    border-radius: 3cap;
}

.no-pad {
    padding: 0;
}

.button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    border: 1px solid var(--color-button-border);
    box-shadow: 1px 1px 5px var(--color-bg-card);
    cursor: pointer;
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-button-bg);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-button-text);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-button-text);
}

input:checked + .slider:before {
    background-color: var(--color-button-bg);
    transform: translateX(26px);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-button-text);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.option-switch {
    right: 0 !important;
    position: absolute;
}

.header-option-button {
    padding: 10px;
    width: 94%;
    bottom: 10px;
    background-color: var(--color-card-inside);
    border: 1px solid var(--color-border-card);
    box-shadow: 1px 1px 20px var(--color-shadow);
    border-radius: 1cap;
}

.stats-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-card {
    height: 370px;
    width: 565px;
    margin-top: 20px;
}

.stat-card {
    border-radius: 16px;
    width: 100px;
    height: 100px;
    background-color: var(--color-card-inside);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-svg {
    color: var(--color-text-secondary);
    min-width: 48px;
    min-height: 48px;
}

.stat-card-title {
    font-size: 15px;
}

.stat-card-subtitle {
    font-size: 12.5px;
    color: var(--color-text-secondary);
}

.stat-card-large {
    height: 50px;
    width: 335px;
    flex-direction: row;
}

.stat-card-meta.large {
    margin-top: 4px;
}

.stat-card-title.large {
    font-size: 16px;
}

.stat-card-subtitle.large {
    font-size: 13.5px;
}

.header-stats {
    display: flex;
    flex-direction: row;
}

.sl-2 {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.stat-card-large-med {
    width: 160px;
    height: 100px;
    flex-direction: column;
}

.stat-card-sm {
    width: 60px;
    height: 50px;
}

.stat-card-ultra-large {
    width: 340px;
}

.stat-card-high {
    height: 223px;
    margin-left: 12px;
}

#doxxBtn {
    cursor: pointer;
}

.header-top-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials-card {
    height: 170px;
    width: 400px;
    position: relative;
}

.social-icon {
    color: var(--color-text-secondary);
    cursor: pointer;
}

.socials-container {
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dailydev-card {
    width: 580px;
    height: 160px;
    margin-top: 20px;
    position: relative;

    display: none;
}

.dailydev-card-img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.top-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header.infos {
    width: 83px;
}

.header-img {
    width: 130px;
    border-radius: 3cap;
}

.infosBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.info-svg {
    color: var(--color-text-secondary);
    cursor: pointer;
    opacity: 0.5;
}

.infos-div {
    position: absolute;
    bottom: 70px;
    right: 20px;
    width: 250px;
    padding: 20px;
    display: none;
    flex-direction: column;
    animation: slideIn 0.3s ease-in-out;
}

.infos-div-show {
    display: flex;
}

.infos-div h3 {
    font-size: 14px;
}

.infos-div p {
    font-size: 12px;
}

.citation {
    font-style: italic;
    margin-top: 20px;
    opacity: 0.5;
    color: var(--color-text-secondary);
}

.citation-sub {
    opacity: 0.4;
    margin-top: 10px;
}

@keyframes 
    slideIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

@media (max-width: 975px) {

    body {
        display: flex !important;
        overflow-x: hidden;
        height: 100vh;
        justify-content: flex-end;
        flex-direction: column;
    }

    .header-top {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
    }

    .dailydev-card,
    .infosBtn,
    .infos-div,
    .citation,
    .citation-sub {
        margin: 0 0 10px 0;
        text-align: center;
    }

    .citation {
        position: absolute;
        margin-top: -300px;
        display: none;
    }

    .citation-sub {
        position: absolute;
        display: none;
        margin-top: -240px;
        max-width: 90vw !important;
    }

    .infosBtn {
        position: fixed !important;
        bottom: 20px;
        right: 20px;
        z-index: 9999; 
    }
}

@media (max-width: 600px) {
    .header.infos{
        display: none;
    }

    .header.card {
        width: 90vw;
    }

    .stats-card {
        width: 90vw !important;
        height: 500px;
    }

    .header-stats {
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .stat-card-high {
        position: relative;
        margin-left: 0;
        height: 50px;
        margin-top: 12px;
        flex-direction: row;
        max-width: 335px !important;
        width: 76vw !important; 
    }

    .ho-button {
        min-height: 40px !important;
    }

    #doxxBtn {
        top: 40px !important;
    }

    #uselessToggle {
        top: 40px !important;
    }

    .citation {
        position: absolute;
        display: none;
        margin-top: -30px;
    }

    .citation-sub {
        position: absolute;
        display: none;
        margin-top: 40px;
        max-width: 90vw !important;
    }
}

@media (max-width: 485px) {
    .card {
        max-width: 90vw !important;
    }

    .stats-left {
        max-width: 92vw;
    }

    .stat-card-high {
        max-width: 92vw !important;
        position: relative;
    }
}