.wrapper {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    background: none;
    border: none;
}

.post-thumbnail {
    width: 100%;
}

.post-content {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

img {
    width: 100%;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 200px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    gap: 10px;
    background-color: var(--div-glass);
    backdrop-filter: blur(3px);
    border-radius: 100px;
    text-decoration: none;
}

.back-btn svg,
.back-btn p {
    color: var(--div-glass-text);
}

#color-mode:checked ~ .wrapper.post-thumbnail {
    filter: invert(1);
}

@media (max-width: 610px) {
    .post-thumbnail {
        width: 90%;
    }

    .post-content {
        width: 90%;
    }
}